<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ callsign }} 的眼球卡记录</title>
</head>
<body>

<p class="title">{{ callsign }} 的眼球卡记录</p>

<p class="description">线下见过面，权当交换名片了。如果没有时间，那就是我忘了，抱歉:P</p>

<table class="table">
    <thead>
    <tr>
        <th>时间</th>
        <th>呼号</th>
        <th>事由</th>
    </tr>
    </thead>
    <tbody>
    {% for record in records %}
    <tr>
        <td>{{ record.datetime }}</td>
        <td>{{ record.call_number }}</td>
        <td>
            {{ record.note | display_some }}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>


</body>
</html>